@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Monsieur+La+Doulaise&display=swap');

:root {
    --text-color: hsl(0, 0%, 96%);
    --accent: hsl(160, 100%, 50%);
    --hover-bg: hsl(160, 100%, 60%);
    --hover-text: hsl(0, 0%, 5%);
    --background:linear-gradient(to right, hsl(234, 100%, 10%), hsl(208, 100%, 33%));
    --box-shadow: hsla(168, 100%, 50%, 0.2);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 40px;
    text-shadow: 3px 3px 8px #00ffcc, -3px -3px 8px #ff0088;
}

.logo::first-letter {
    font-size: 55px;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--text-color);
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 18px;
    margin: 0 10px;
    border-radius: 12px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.navbar a:hover {
    background: var(--hover-bg);
    color: var(--hover-text);
    box-shadow: 0 6px 20px rgba(0, 255, 204, 0.5);
    transform: scale(1.1);
}

/* Home Section */
.home {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-content {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#role-animation {
    color: var(--accent);
}

#home-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
    position: relative; 
    animation: none; 
}

#home-icons i {
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 50%;
    transition: 0.4s ease;
    cursor: pointer;

}

#home-icons i:hover {
    background-color: var(--accent);
    color: var(--hover-text);
    transform: scale(1.2) ;
}

/* Responsive */
@media (max-width: 768px) {

    .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
    }

    .menu-icon {
        display: block;
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .navbar a {
        margin: 10px 0;
        display: block;
    }

    .navbar.active {
        display: flex;
    }
    .home-content {
        font-size: 36px;
    }
    #home-icons i {
        font-size: 26px;
        padding: 10px;
    }
}
